<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Crear un producto - onesport</title>
        <link rel="stylesheet" href="/public/global.css" />
        <link rel="stylesheet" href="/public/formulario.css" />
    </head>
    <body>
        <div id="app">
            {{> header}}
            <main>

                <div class="middle-container">

                    <div class="app-section-title">
                        <h2>Productos</h2>
                        <a href="/admin/productos/crear">Crear un producto</a>
                    </div>

                    <table class="app-table">
                        <tr>
    
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Descripcion</th>
                            <th>Unidades Disponibles</th>
                            <th>Acciones</th>
                        </tr>

                        {{#each listaProductos}}
                            <tr>
    
                                <td>{{nombre}}</td>
                                <td>{{precio}}</td>
                                <td>{{descripcion}}</td>
                                <td>{{unidades_disponibles}}</td>
                                <td>
                                    <div class="app-table-actions">
                                        <a class="app-table-action info" name="id" href="/admin/productos/{{id}}">Actualizar</a>
                                        <form onSubmit="return confirm('¿Deseas eliminar este producto?') " action="/admin/productos/eliminar" method="POST">
                                            <button class="app-table-action danger" name="id" value="{{id}}">Eliminar</button>
                                        </form>
                                    </div>
                                </td>

                            </tr>
                        {{/each}}

                    </table>
                </div>

            </main>
        </div>

    </body>
</html>