<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Producto - onesport</title>
        <link rel="stylesheet" href="/public/global.css" />
        <link rel="stylesheet" href="/public/formulario.css" />
        <link rel="stylesheet" href="/public/producto/estilos.css" />
    </head>
    <body>
        <div id="app">
            {{> header}}
            <main>
                <div class="middle-container">
                    <div class="producto-info-main">
                        <div id="producto-images">
                            {{#with Imagens.[0]}}
                                <img src="/public/productos-img/{{url_imagen}}" alt="" />
                            {{/with}}
                        </div>
                        <div class="producto-info">
                            <div class="producto-titulo">
                                <h1>{{ nombre }}</h1>
                                <strong>{{oferta_descripcion}}</strong>
                                {{#if (ismin oferta 0)}}
                                                <p>${{percentage precio oferta}}</p>
                                                <p style="font-style: italic; text-decoration:line-through; font-size: 0.9rem">${{precio}}</p>
                                            {{else}}
                                                <p>${{precio}}</p>
                                            {{/if}}
                            </div>
                            <div class="producto-descripcion">
                                <p>{{descripcion}}</p>
                            </div>
                            <form method="POST" action="/carrito/{{#if estaEnCarrito}}eliminar{{else}}agregar{{/if}}">
                                <input type="text" value="{{id}}" name="id" hidden>
                                {{#if estaEnCarrito}}
                                    <button class="app-form-button gray" >ELIMINAR DEL CARRITO</button>
                                {{else}}
                                    
                                    <button class="app-form-button" >AGREGAR AL CARRITO</button>
                                {{/if}}  
                            </form>
                        </div>
                    </div>
                    {{#if productosSugeridos}}
                        <div class="producto-suggests__content">
                            <div class="producto-suggets__title">
                                <h2>Productos Sugeridos</h2>
                            </div>
                            <div class="producto-suggests">
                                {{#each productosSugeridos}}
                                <div class="product">
                                    <a href="/producto/{{id}}">
                                        <div class="product-image">
                                            {{#with Imagens.[0]}}
                                                <img src="/public/productos-img/{{url_imagen}}" alt="" />
                                            {{/with}}
                                        </div>
                                        <div class="product-content">
                                            <div class="product-name">
                                                <p>{{nombre}}</p>
                                            </div>
                                            <div class="product-description">
                                                <p>{{descripcion}}</p>
                                            </div>
                                            <div class="product-price">
                                            {{#if (ismin oferta 0)}}
                                                <p>${{percentage precio oferta}}</p>
                                                <p style="font-style: italic; text-decoration:line-through; font-size: 0.9rem">${{precio}}</p>
                                            {{else}}
                                                <p>${{precio}}</p>
                                            {{/if}}
                                        </div>
                                            
                                        </div>
                                    </a>
                                </div>
                            {{/each}}
                            </div>
                            
                        </div>
                    {{/if}}
                </div>
            </main>
        </div>
    </body>
</html>